Repository vstconsulting/vstutils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install, pages

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: flake,pylint
  script:
  - tox -e $TOX_ENVS $TOX_ARGS
  retry: 2
  allow_failure: true

py27-django111-coverage:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - tox -e $TOX_ENVS $TOX_ARGS
  retry: 2

py27-django111-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - tox -e $TOX_ENVS $TOX_ARGS
  retry: 2

py36-django111-install:
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  script:
  - tox -e $TOX_ENVS $TOX_ARGS
  retry: 2

pages:
  stage: release
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: builddoc
  script:
  - tox -e $TOX_ENVS $TOX_ARGS
  retry: 2
  after_script:
  - mv doc/_build/html public
  artifacts:
    paths:
    - public

Fix vst_gravatar in python 2.7
  setup.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix release build in CI/CD
  .gitlab-ci.yml
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix bug with PyPI and manylinux
  setup.py
  tox.ini
  tox_build.ini
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Release up 1.3.8.dev1 -> 1.3.8.dev2
  .gitlab-ci.yml
  setup.py
  tox_build.ini
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix step pre_release
  .gitlab-ci.yml
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Release up 1.3.8.dev2 -> 1.3.8
  setup.py
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix compilation optimization - set to zero
  setup.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Set compilation optimization 1
  setup.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update setup
  .gitlab-ci.yml
  setup.py
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add test for hexToRgbA().
  vstutils/static/js/common-utils.js
  vstutils/static/js/tests/guiCommon.js
Due: none

dev release up: fixed js format to use one arg
  vstutils/__init__.py
  vstutils/static/js/common-utils.js
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add 'disable button' to hybrid_autocomplete field.
  vstutils/static/css/gui.css
  vstutils/static/templates/guiElements.html
Due: none

Improvement of hybrid_autocomplete field.
  vstutils/static/js/guiElements.js
  vstutils/static/templates/guiElements.html
Due: none

Add test for 'String.prototype.format'.
  vstutils/static/js/tests/guiCommon.js
Due: none

Update libs
  requirements-prod.txt
  requirements-rpc.txt
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update requirements-rpc.txt
  requirements-rpc.txt
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Release up 1.3.9.dev3 -> 1.3.9
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix ValidationError message throw.
  vstutils/api/views.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Subrelease version 1.3.10.dev1 + code refactoring
  setup.cfg
  setup.py
  tox.ini
  tox_build.ini
  vstutils/__init__.py
  vstutils/auth.py
  vstutils/settings.py
  vstutils/templates/newproject/setup.cfg.template
  vstutils/templates/newproject/setup.py.template
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix bug with SafeLoader in pyyaml and update sqlalchemy lib
  requirements-rpc.txt
  vstutils/__init__.py
  vstutils/custom_model.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Make magic with project lib and project lib name
  vstutils/settings.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Resolve "Модуль для SphinxDoc для генерации документации из OpenAPI"
  .coveragerc
  doc/conf.py
  vstutils/api/doc_generator.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install, pages

Fix docs generator
  doc/conf.py
Due: pages

Fix warning with schema name on build docs
  vstutils/api/doc_generator.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add comment for functions [ci skip]
  vstutils/api/doc_generator.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix bug with import modules
  vstutils/__init__.py
  vstutils/settings.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix bug with celery beat prolongation
  vstutils/utils.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Fix bugs
  vstutils/static/js/guiElements.js
  vstutils/static/js/guiSchema.js
  vstutils/static/templates/guiElements.html
Due: none

Fix doc generator for api + update view for examples
  vstutils/api/doc_generator.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Optimize tests with celery and set celery results backend as broker
  .gitlab-ci.yml
  vstutils/settings.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Resolve "Fix prefetch"
  vstutils/static/css/gui.css
  vstutils/static/js/common-utils.js
  vstutils/static/js/guiItemFactory.js
  vstutils/static/js/guiListFactory.js
  vstutils/static/js/guiSchema.js
  vstutils/static/templates/guiElements.html
  vstutils/static/templates/guiItems.html
Due: none

Release up 1.3.12 -> 1.3.13
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Update libraries
  requirements.txt
  vstutils/__init__.py
  vstutils/management/commands/web.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Add new features for decorators
  test_src/test_proj/views.py
  vstutils/api/decorators.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Resolve "Bug with hybrid_autocomplete"
  vstutils/static/css/gui.css
  vstutils/static/js/guiElements.js
  vstutils/static/js/guiItemFactory.js
  vstutils/static/js/tests/guiPaths.js
  vstutils/static/templates/guiElements.html
  vstutils/static/templates/guiModals.html
Due: none

Add uptime field to guiListElements.
  vstutils/static/js/common-utils.js
  vstutils/static/js/guiElements.js
  vstutils/static/js/guiListElements.js
  vstutils/static/templates/guiListElements.html
Due: none

Fixed bug with schema keys generation
  vstutils/api/schema.py
  vstutils/settings.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Try to use autorelease
  .gitlab-ci.yml
  autorelease.sh
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Create tag and run release on new version of vstutils
  .gitlab-ci.yml
  autorelease.sh
  vstutils/__init__.py
Due: code_style, py27-django111-coverage, py27-django111-install, py36-django111-install

Resolve "Improve GUI tests"
  vstutils/static/js/guiItemFactory.js
  vstutils/static/js/tests/guiPaths.js
Due: none

Path conditions:
  code_style: any of: vstutils/*.{py,pyx}, vstutils/api/**, vstutils/gui/*, vstutils/templatetags/*, test_src/**/*, .coveragerc, .pep8, .pylintrc, .gitlab-ci.yml, requirements*, setup.{cfg,py}, MANIFEST.in, tox.ini
  py27-django111-coverage: any of: vstutils/*.{py,pyx}, vstutils/api/**, vstutils/gui/*, vstutils/templatetags/*, test_src/**/*, .coveragerc, .pep8, .pylintrc, .gitlab-ci.yml, requirements*, setup.{cfg,py}, MANIFEST.in, tox.ini
  py27-django111-install: any of: vstutils/*.{py,pyx}, vstutils/api/**, vstutils/gui/*, vstutils/templatetags/*, test_src/**/*, .coveragerc, .pep8, .pylintrc, .gitlab-ci.yml, requirements*, setup.{cfg,py}, MANIFEST.in, tox.ini
  py36-django111-install: any of: vstutils/*.{py,pyx}, vstutils/api/**, vstutils/gui/*, vstutils/templatetags/*, test_src/**/*, .coveragerc, .pep8, .pylintrc, .gitlab-ci.yml, requirements*, setup.{cfg,py}, MANIFEST.in, tox.ini
  pages: any of: doc/*, vstutils/doc_themes/*
